<!DOCTYPE html>
<html>
<head><title>BRUV</title></head>
<!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script -->
<link rel="icon" href="/favicon.ico" />
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/isteven-multi-select.css">
<script src="js/isteven-multi-select.js"></script>
<script src="js/ngprogress.min.js"></script>
<link rel="stylesheet" href="css/ngProgress.css">
<link rel="stylesheet" href="css/angular-toastr.min.css">
<script src="js/angular-toastr.tpls.min.js"></script>
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.selected {
  background-color: #b0b0ff !important;
}

</style>
<body>

<div ng-app="bruv" ng-controller="changesCtrl">

<h1>BRUV</h1>
<div isteven-multi-select
    input-model="availableQueries"
    output-model="selectedQueries"
    tick-property="ticked"
    item-label="name description"
    button-label="name"
    on-close="refresh()"
></div>
<div ng-click="refresh()">Refresh</div>

<table border="1" width="100%">
<tr>
<th ng-click="changeOrderTo('number')">Number</th>
<th>Flags</th>
<th ng-click="changeOrderTo('subject')">Message</th>
<th ng-click="changeOrderTo('project')">Project</th>
<th ng-click="changeOrderTo('owner.name')">User Name</th>
<th ng-click="changeOrderTo('change.diff_url')">URL</th>
<th>Change size</th>
<th/>
<th ng-click="changeOrderTo('bugs')">Bugs</th>
</tr>
<tr ng-repeat="change in changes_array | orderBy:orderField:reversed" ng-class="{'selected': change.number == selectedNumber }" ng-click="setSelected(change.number)">
<td>{{ change.number }}</td>
<td>{{ flags(change) }}</td>
<td>{{ change.subject }}</td>
<td>{{ change.project }}</td>
<td>{{ change.owner.name }}</td>
<td><a href="{{change.diff_url}}">{{change.diff_url}}</a></td>
<td>+{{change.currentPatchSet.sizeInsertions}} {{change.currentPatchSet.sizeDeletions}}</td>
<td ng-click="markAsRead(change.number)">R</td>
<td><div ng-repeat="bug in bugs(change)"><a href="{{change.bug_base_url}}/{{bug}}">#{{bug}}</a></div></td></tr>
</tr>
</table>
<br/>
 -- Flags: [N]ew, [U]pdated Patch Set, New [C]omments, Relates to a [B]ug, Blue-[P]rint
<br/><br/>
Total: {{ change_count }} reviews
</div>

<script>
var app = angular.module('bruv', ["isteven-multi-select", "ngProgress", "toastr"]);
app.controller('changesCtrl', ['$scope', '$document', '$http', "ngProgressFactory", 'toastr', function($scope, $document, $http, $ngProgressFactory, $toastr) {
    // Sorting
    $scope.reversed = true
    $scope.orderField = 'lastUpdated';
    $scope.changeOrderTo = function(newOrderField) {
        if ($scope.orderField == newOrderField) {
            if ($scope.reversed) {
                $scope.orderField = 'lastUpdated'
            } else {
                $scope.reversed = true
            }
        } else {
            $scope.orderField = newOrderField;
            $scope.reversed = false
        }
    };
    // Mark as read + hiding
    $scope.markAsRead = function(number) {
        $http.get("read/" + number);
        delete $scope.changes[number];
        $scope.changes_array = Object.values($scope.changes);
        $scope.change_count = $scope.changes_array.length;
    };
    // Refresh view
    $scope.isLoading = 0;
    $scope.incLoading = function() {
        $scope.isLoading = $scope.isLoading + 1;
        if ($scope.isLoading == 1) {
                $scope.progressBar.start();
        }
    }
    $scope.decLoading = function() {
        $scope.isLoading = $scope.isLoading - 1;
        if ($scope.isLoading == 0) {
            $scope.progressBar.complete();
        }
    }
    $scope.change_count = 0;
    $scope.changes = {};
    $scope.availableQueries = []
    $scope.progressBar = $ngProgressFactory.createInstance();
    $scope.refresh = function() {
        $scope.isFirst = true;
        angular.forEach($scope.availableQueries, function( value, key ) {
            if (value.ticked) {
                $scope.incLoading();
                $http.get("list/" + value.name).then(function(response) {
                    // Success
		    $toastr.success(value.name, "Fetch succeeded");
                    if ($scope.isFirst) {
                        $scope.isFirst = false;
                        $scope.changes = {};
                    }
                    angular.forEach(response.data, function(change) {
                        $scope.changes[change.number] = change;
                    });
                    $scope.changes_array = Object.values($scope.changes);
                    $scope.change_count = $scope.changes_array.length;
                    $scope.decLoading();
                }, function(response) {
                    // Failure
		    $toastr.error(value.name, "Fetch failed");
                    $scope.decLoading();
                });
            }
        });
    };
    $scope.flags = function(change) {
        flags = "";
        if (change.change_since_last_comment) {
            if (change.last_checked_patch_set == -1) {
                flags += "N";
            } else {
                flags += "U";
            }
        } else {
            flags += "C";
        }
        if (change.related_bugs.length > 0) {
            flags += "B";
        }
        if (change.is_blueprint) {
            flags += "P";
        }
        return flags;
    }
    $scope.bugs = function(change) {
        result = [];
        angular.forEach(change.related_bugs, function(bug) {
            if (bug.charAt(0) === "#") {
                 bug = bug.substr(1);
            }
            result.push(bug);
        });
        return result;
    }
    // Select query (get queries)
    $http.get("queries").then(function(response) {
        angular.forEach(response.data, function(value, key) {
            $scope.availableQueries.push({
                    name: key,
                    description: value,
                    ticked: false
            });
        });
        $http.get("default_queries").then(function(response) {
            defaults = response.data;
            angular.forEach($scope.availableQueries, function(query) {
                if (defaults.includes(query.name)) {
                        query.ticked = true;
                }
            });
            $scope.refresh();
        });
    });
    // Color selection
    $scope.setSelected = function(number) {
        $scope.selectedNumber = number;
    };
    $document.bind("keypress", function(event) {
        if (event.which == 114) {
            $scope.refresh();
        }
    });
}]);

app.config(function(toastrConfig) {
  angular.extend(toastrConfig, {
    closeButton: true,
    extendedTimeOut: 1000,
    tapToDismiss: true,
    timeOut: 1000,
  });
});
</script>

</body>
</html>

